<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/build/application.min.css" />
    <title>Starter MEAN Single Page Application</title>

</head>
<body>

    <span class="fa fa-bar-chart"></span> <%= username %>

</body>
</html>