<!doctype html>
<html lang="en" data-ng-app="clearviewApp">
<head>
    <meta charset="UTF-8">
    <script src="/assets/js/build/application.min.js"></script>
    <link rel="stylesheet" href="/assets/css/build/application.min.css" />
    <title>ClearView</title>

</head>
<body>

    <span class="fa fa-bar-chart"></span>
    <div><%= username %></div>

</body>
</html>